<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Co.muse, <%= @member.name %></h1>
    <p>You have successfully signed up to Co.muse.</p>
    <p>To login to the site, just follow this link: <% @url %></p>
  </body>
</html>
